<!-- BEGIN Footer -->
<footer>
    <!-- permalink append based on languages -->
    {% if page.lang == site.default_lang %}
    {% assign append = "" %}
    {% else %}
    {% assign append = site.data.locales[page.lang].append %}
    {% endif %}
    <section class="section-wrapper">
        <div class="container">
            <div class="row imprint text-center">
                <div class="col-md-12">
                    <a href="{{ site.url }}{{ site.baseurl}}{{ append }}/privacy-policy"> {{
                        site.data.locales[page.lang].privacy_policy | upcase}} </a>
                    &nbsp;
                    <a href="{{ site.url }}{{ site.baseurl }}{{ append }}/imprint"> {{
                        site.data.locales[page.lang].imprint | upcase}} </a>
                </div>
            </div>
            <div class="row copyright text-center">
                <div class="col-md-12">
                    <p class="copyright text-center">
                        &copy; Copyright <span id="copyright-year"></span> &nbsp; <a
                            href="{{ site.url }}{{ site.baseurl }}{{ append }}">KOREX Group</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- END Footer -->