<!-- BEGIN Footer -->
<footer>
    <!-- permalink append based on languages -->
    {% if page.lang == site.default_lang %}
    {% assign append = "" %}
    {% else %}
    {% assign append = site.data.locales[page.lang].append %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="imprint text-start">
                    <a href="{{ site.url }}{{ site.baseurl}}{{ append }}/privacy-policy"> {{
                        site.data.locales[page.lang].privacy_policy | upcase}} </a>
                    &nbsp;
                    <a href="{{ site.url }}{{ site.baseurl }}{{ append }}/imprint"> {{
                        site.data.locales[page.lang].imprint | upcase}} </a>
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p class="copyright text-center"></p>
                &copy; Copyright <span id="copyright-year"></span> &nbsp; <a href="{{ site.url }}{{ site.baseurl }}{{ append }}">KOREX Group</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- END Footer -->